{% extends "products/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<h2>Products</h2>
<form method="GET" class="product-filter-form">
    {% csrf_token %}
    <div class="filter-fields">
        {{ form.as_div }}
    </div>
    <button type="submit" class="save btn btn-default">Search</button>
</form>
{% if product_list %}
<table class="product_list">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for product in product_list %}
        <tr>
            <td>{{ product.name }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.category }}</td>
            <td>
                {{ product.tags.all|join:", " }}
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No products available.</p>
{% endif %}
{% endblock %}